/*

@media screen and (max-width: 375px){
    .header__top {
        justify-content: center;
    }
    .header__right {
        display: none;
    }

    .header__logo {
        flex-grow: 0;
    }

    .header__title {
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: #495057;
        padding: 49px 0 69px;
    }

    .header__top_template {
        padding-bottom: 17px;
    }
}*/

.header {

}

.header__main {
    background: var(--white);
}

.header__top {
    padding-top: 25px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 56px;
}

.header__logo {
    width: 110px;
    height: 32px;
    color: var(--black);
}

.header__title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
    padding: 41px 0 40px;
    margin-left: -5px;
}

.header__top_template {
    padding-bottom: 62px;
}

@media screen and (max-width: 375px){

    .header__title {
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: #495057;
        padding: 49px 0 69px;
    }

    .header__top_template {
        padding-bottom: 17px;
    }
}
