/*.tabs {
    background: #FFFFFF;
}

.tabs__wrap {
    display: flex;
    gap: 40px;
}

.tabs__radio {
    display: inline-block;
    position: relative;
}

.tabs__input {
    position: absolute;
    outline: none;
    clip: rect(0,0,0,0);
}

.tabs__title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.tabs__input:checked ~ .tabs__title{
    padding-bottom: 8px;
    border-bottom: 5px solid var(--black);
}

.tabs:has(.tabs__input[data-block="all-components"]:checked) ~ .preview_border .preview__cards#all-components {
    display: grid;
}

.tabs:has(.tabs__input[data-block="elements"]:checked) ~ .preview_border .preview__cards#elements {
    display: grid;
}

.tabs:has(.tabs__input[data-block="container"]:checked) ~ .preview_border .preview__cards#container {
    display: grid;
}
*/

.tabs {
    background: var(--white);
}

.tabs__wrap {
    display: grid;
    grid-template-rows: auto 1fr;
}

.tabs__input {
    position: absolute;
    outline: none;
    clip: rect(0,0,0,0);
}

.tabs__title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.tabs__scroller {
    display: flex;
    gap: 40px;
}

.tabs__input_all-components:checked ~ .preview__cards_all-components {
    display: grid;
}

.tabs__input_elements:checked ~ .preview__cards_elements {
    display: grid;
}

.tabs__input_container:checked ~ .preview__cards_container {
    display: grid;
}