/* Стилизация кнопки */
.button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--white);
    padding: 14px 0 13px;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    width: 189px;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_primary {
    background: #4263EB;
    border: 1px solid #4263EB;
}

.button_secondary {
    background: var(--purple);
    border: 1px solid var(--purple);
}

.button_alternate {
    color: var(--grey-4);
    border: 1px solid var(--grey-3);
}

/* disables styles */

.button:disabled {
    cursor: not-allowed;
}

.button_primary:disabled,
.button_secondary:disabled {
    color: rgba(255, 255, 255, 0.5);
}

.button_alternate:disabled {
    color: rgba(73, 80, 87, 0.5)
}

/* hover styles */
.button_primary-hover:hover {
    background: #2342C0;
    border: 1px solid #2342C0;
}

.button_secondary-hover:hover {
    background: #5028C6;
    border: 1px solid #5028C6;
}

.button_alternate-hover:hover {
    border: 1px solid var(--black);
}



