/* Стилизация кнопки */
.preview__line {
    margin-top: 16px;
}

.preview__line + .button {
    margin-left: 33px;
}

.button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--white);
}

.button + .button {
    margin-left: 33px;
}

.preview__button {
    width: 189px;
    padding: 14px 0 13px;
    border-radius: 8px;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.preview__button_primary {
    background: #4263EB;
    border: 1px solid #4263EB;
}

.preview__button_secondary {
    background: var(--purple);
    border: 1px solid var(--purple);
}

.preview__button_alternate {
    color: var(--grey-4);
    border: 1px solid var(--grey-3);
}

/* disables styles */

.preview__button:disabled {
    cursor: not-allowed;
}

.preview__button_primary:disabled,
.preview__button_secondary:disabled {
    color: rgba(255, 255, 255, 0.5);
}

.preview__button_alternate:disabled {
    color: rgba(73, 80, 87, 0.5)
}

/* hover styles */
.preview__button_primary-hover:hover {
    background: #2342C0;
    border: 1px solid #2342C0;
}

.preview__button_secondary-hover:hover {
    background: #5028C6;
    border: 1px solid #5028C6;
}

.preview__button_alternate-hover:hover {
    border: 1px solid var(--black);
}



