/* Стилизация кнопки */
.button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 15px 15px 14px;
    color: var(--white);
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button:nth-child(3n) {
    padding: 14px 14px 13px;
}

.button_primary {
    background: #4263EB;
}

.button_secondary {
    background: var(--purple);
}

.button_alternate {
    color: var(--grey-4);
    border: 1px solid var(--grey-3);
}

/* disables styles */

.button:disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* hover styles */
.button_primary:hover {
    background: #2342C0;
}

.button_secondary:hover {
    background: #5028C6;
}

.button_alternate:hover {
    border: 1px solid var(--black);
}



