.template {
    height: 100%;
    padding-top: 62px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    column-gap: 56px;

}

.template__component {
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}

@media screen and (max-width: 375px) {
    .template {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .template__component {
        box-shadow: none;
        border-radius: 0;
    }
}
