.card {
    font-family: 'Roboto', sans-serif;
    padding: 32px 25px 30px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 25px;
    font-weight: 500;
    font-size: 21px;
    color: var(--black);
}

.card_gap {

}

.card__title {

}

@media screen and (max-width: 375px){
    .card {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        line-height: 24px;
    }
}