/* Стилизация аккордеона */
.accordion {
    padding: 75px 0 75px;
}

.accordion__item {
    padding: 24px 33px 24px 32px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
}

.accordion__item:not(:last-child) {
    margin-bottom: 8px;
}

.accordion__title {
    color: var(--black);
}

.accordion__content {
    color: var(--grey-4);
    padding-top: 16px;
}

.accordion__title::-webkit-details-marker {
    display: none;
}

.accordion__title {
    display: flex;
    justify-content: space-between;
}

.accordion__title .accordion__icon {
    display: inline-block;
}

.accordion__item[open] .accordion__icon {
    transform: rotate(180deg);
}

