.tooltip {
    display: inline-flex;
    position: relative;
}

.tooltip__trigger {
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: #212429;
}

.tooltip__helper {
    display: none;
    background: #4263EB;
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--white);
    padding: 13px 21px;
    white-space: nowrap;
    transform: translate(calc(-50% + 12px), calc(-100% - 6px));
    position: absolute;
    top: -3px;
}

.tooltip__helper:before {
    position: absolute;
    top: 99%;
    left: 50%;
    display: block;
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 7px solid #4263EB;
    transform: translateX(-50%);
}

.tooltip__trigger:hover + .tooltip__helper {
    display: block;
}