.theme {
    width: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.theme__sun {
    order: -1;
    width: 24px;
    height: 24px;
    color: #212429;
}

.theme__moon {
    width: 24px;
    height: 24px;
    color: #ACB5BD;
}

.theme__input {
    position: absolute;
    clip: rect(0,0,0,0);
}

.theme__state {
    width: 52px;
    height: 28px;
    background: var(--white);
    border: 1px solid #ACB5BD;
    border-radius: 16px;
    display: flex;
    justify-content: left;
    padding: 1px;
}

.theme__toggle {
    width: 24px;
    height: 24px;
    background: #ACB5BD;
    border-radius: 16px;
}

.theme__input:checked ~ .theme__state {
    justify-content: right;
}

.theme__input:checked ~ .theme__sun {
    color: #ACB5BD;
}

.theme__input:checked ~ .theme__moon {
    color: #212429;
}

