.bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 400px) {
    .bg {
        background-image: url('./public/forest_400.jpg');
    }
}

@media screen and (min-width: 768px) {
    .bg {
        background-image: url('./public/forest_768.jpg');
    }
}

@media screen and (min-width: 1024px) {
    .bg {
        background-image: url('./public/forest_1024.jpg');
    }
}

@media screen and (min-width: 2560px) {
    .bg {
        background-image: url('./public/forest_2560.jpg');
    }
}