.preview {
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
    background-color: #F9FAFC;
}

.preview__cards {
    padding: 68px 0 174px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}





