.input {
    position: relative;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.input__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ACB5BD;
    margin-bottom: 5px;
}

.input__field {
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    background: var(--white);
    border: 1px solid #DDE2E5;
    border-radius: 8px;
    font-size: 20px;
    line-height: 26px;
}

.input__icon {
    position: absolute;
    top: 50%;
    right: 16px;
}

.input_success {
    border: 1px solid #374FC7;
}

.input_success ~ .input__icon {
    color: #374FC7;
}

.input_error {
    border: 1px solid #F03D3E;
}

.input_error ~ .input__icon {
    color: #F03D3E;
}

.input__field:focus {
    border: 1px solid #374FC7;
}

.input__field::placeholder {
    font-size: 20px;
    line-height: 26px;
    color: #DDE2E5;
}

.input__icon {
    width: 24px;
    height: 24px;
}




